{% extends "base.html" %}
{% load staticfiles %}
{% block title %}mikelee_个人博客_文章列表{% endblock %}

{% block seo %}
  <meta name="description" content="mikelee的个人博客网站，用于记录学习和生活的心得。技术博客用于记录Python, Web等技术的学习和使用心得,随笔用于记录自己读书, 观影, 运动, 旅行的心得体会,吐槽用于吐槽" />
  <meta name="keywords" content="mikelee,个人博客,编程,Geek" />
{% endblock %}

{% load hill1895_extras %}


{% block navibar %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script>
        function register() {
            $.ajax({
                url:'{% url "dopregisterdel" %}',
                type:'post',
                data:{
                    'username':$('#name').val(),
                    'password':$('#password').val()
                },
                success: function (json) {
                    if (json.error_code==0){
                        $('#info').html('successful')
                    }
                    else{
                        $('#info').html(json.error_message)
                    }

                },
                error:{

                }
            })

        }
    </script>
	<nav class="navbar navbar-inverse" role="navigation" id="navibar">
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/">首页</a></li>
         <li><a href="/geek">技术博客</a></li>
         <li><a href="/essay">随笔</a></li>
         <li><a href="/joke">吐槽</a></li>
      </ul>
   </div>
</nav>
{% endblock %}

 {% block title_list %}



<span>email:<input type="text" id=""></span><br>
<span>name:<input type="text" id="name"></span><br>
<span>password:<input type="password" id="password"></span>
<input type="submit" value="注册" onclick="register();">
<p id="info" style="color:red"></p>
<p><a href='{% url "doplogin" %}'>返回登录页</a></p>




{% endblock %}





